.iconHome {
    background-color: #893535;
    border-radius: 11px;
    color: white;
    margin-bottom: 3%;
    box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, 0.4)
}
.fecha{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}
.fecha p{
    font-size: small;
    margin-inline:10px ;
}
.cont {
    justify-content: space-evenly;
    flex-direction: row;
}
.instance {
    text-align: center;
}
.pred {
    justify-content: center;
    margin-bottom: 5px;
}
.predDiv {
    height: 20px;
    font-weight: bolder;
}
.predDivLeft {
    text-align: end;
    padding-right: 15px;
}
.predDivRight {
    padding-left: 15px;
}
.pts {
    margin-left: 34px;
    font-size: small;
    font-weight: bolder;
}
#dash {
    font-weight: bolder;
}
.win {
    /* color: rgb(11, 202, 11); */
    color: rgb(89, 201, 81);
}
.los {
    color: rgb(112, 112, 112);
}