.iconHome {
    background-color: #893535;
    border-radius: 11px;
    color: white;
}
.fecha{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fecha p{
    font-size: small;
    margin-inline:15px ;
}