.boxFont{
    margin: 0;
    font-family: Georgia, serif;
    font-size: 28px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #1032a1;
    font-weight:600;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none; 
}
.boxFont img {
    max-width: 10%;
}