.box{
    height: 150px;
    border: 1px solid #893535;
    border-radius: 25px;
    background-color: #893535;
    color: white;

}
    
.box a {
        text-decoration: none;
}
.boxItems{
    margin: 0;
    margin: 0px 20px;
}
.bigBox {
    position: absolute;
    margin-top: 30vh;
}
.fondo{
    margin-top: 38px;
    margin-top: 38px
}

.image{
    position: absolute;
    height: 30vh;
}