.divImg {
  height: 300px;
  background-image: url("../../assets/homeDesktop.jpg");
  background-position: -50px -185px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, 0.4)
}
.father {
  display: flex;
  min-height: 100vh;
}
.children {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
.headers {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}