.container1 {
  display: flex;
  padding: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid gray;
}

.container2 {
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
}

.btnEdit {
  background-color: rgba(217, 217, 217, 1);
  border: 0px;
}

.imgProfile2 {
  width: 150px;
}

.userNameDiv {
  display: flex;
  align-items: center;
  width: 75%;
  text-align: center;
  justify-content: center;
  padding-left: 10px;
}

button {
  padding-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  background: white;
  color: black;
}

.abc {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 22px;
  background-color: rgba(217, 217, 217, 1);
}

.info1 {
  width: 50%;
  padding-right: 10px;
}
.info2 {
  width: 50%;
  padding-left: 10px;
  margin-top: 15px;
}
.resul {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}
.father {
  display: flex;
  min-height: 100vh;
}
.children {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
