.prize {
  margin-top: 10%;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cup {
  width: 6rem;
  height: 6rem;
}

.secondPrizeMedal {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
}

.firstPriceText {
  font-family: 'Kanit', sans-serif;
  font-size: xx-large;
}

.secondPriceText {
  font-family: 'Kanit', sans-serif;
  font-size: xx-large;
}

.thirdPriceText {
  font-family: 'Kanit', sans-serif;
  font-size: x-large;
}

.thirdPrizeMedal {
  margin-top: 2rem;
  width: 3rem;
  height: 3rem;
}

.img2 {
  width: 14rem;
  height: 14rem;
  border-radius: 6px;
}

.img3 {
  width: 12rem;
  height: 12rem;
  border-radius: 6px;
}